body{
background-attachment:fixed;
background-repeat:no-repeat;
background-size: 100% auto;
}

#mapgraph{float: left;
width: 49.5%;
height: 600px;}

#registration{float: left;
width: 49.5%;
height: 600px;}

#map{width: 60%;
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 100px;
}

#gplay{width: 25%;
display: block;
margin-left: auto;
margin-right: auto;
}

input{
height: 35px;
width:45%;
display: block;
margin-left: auto;
margin-right: auto;
box-shadow: inset 0 0.5px 1px #888;
background: #fffffff;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
font-family: 'Source Sans Pro', sans-serif;
font-size: 14pt;
color: #7F7F7F;
margin-top:5px;
}
label{
	margin-left: auto;
	margin-right: auto;
	width:45%;
	font-size:11px;
	display:block;
	margin-top:3px;
	color:red;
}
form.registration{margin-top: 70px;}

input.btn{background-color: #05b7d1; color:white;}